@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using MyDatabaseMarket.Shared

<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found 404</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Извините, страница не найдена.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
